*{
	margin: 0;
}

@font-face {
    font-family: SF;
    src: url(../fonts/SF_Cartoonist_Hand.ttf);
    /*font-weight: bold;*/
}

body{
	font-family: "SF";
}

main{
	width: 80%;
	margin:auto;
	font-size: 1.6em;
}

header{
	padding-top: 3%;
	font-size: 1.8em;
	padding-bottom: 6%;
	text-align: center;
}

header h1{	
	font-weight: normal;
	text-align: center;
}

#p1 {
	padding-bottom: 2%;
	text-align: left;
	color: #3cff8f;
}

#p2 {
	padding-bottom: 2%;
	text-align: right;
	color: #9e84f3;
}

#p3 {
	padding-bottom: 2%;
	text-align: left;
	color: #f384d5;
}

#p4 {
	padding-bottom: 2%;
	text-align: right;
	color: #6068fb;
}

#p5 {
	padding-top: 4%;
	padding-bottom: 2%;
	text-align: center;
}

#p6 {
	text-align: center;
	color: #ff6d6d;
}

#quotes {
	width: 60%;
	margin: auto;
}

#p7,#p8 {
	text-align: center;
}

.quoteWriter {
	text-align: right;
	padding-bottom: 5%;
}

@media all and (max-width: 640px) {
	header{
		font-size: 1.5em;
		width: 90%;
		margin: auto;
	}
}


@media all and (max-width: 400px) {
	header{
		font-size: 1.2em;
	}
	main{
		font-size: 1.2em;
	}
}